-# app/views/articles/show.haml
- @title = @article.title
#show
  .article
    .title= @article.title
    .date= time_ago_in_words(@article.created_at || Time.now) + 'ago'
    .body= simple_format(@article.body)
%p= link_to 'View all posts', url_for(:articles, :index)