%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:articles, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:articles, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:articles, :edit, :id => @article.id)

.tabs-content
  -form_for :article, url(:articles, :update, :id => @article.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'articles/form', :locals => { :f => f }
